# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter / IPython
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Results and outputs
results/
data/test/preprocessed/
predictions.csv

# Models
*.keras

# IDEs
.vscode/
.idea/

# TensorBoard
logs/